.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.pokemonList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 300px;
  padding-left: 180px;
  padding-right: 200px;
  margin-bottom: 100px;
}
.header {
  font-size: 30px;
  margin-top: 250px;
  padding-left: 650px;
  padding-bottom: 100px;
}

.btn {
  padding-bottom: 100px;
}
